{% include head.html %}
  <body>
    <div class="container">
        <header class="clearfix">
                <h1>Marion <span>et</span> Clement</h1>
        </header>
        <div id="grid-gallery" class="grid-gallery">

        <section class="grid-wrap">
        <ul class="grid">
                <li class="grid-sizer"></li><!-- for Masonry column width -->
                {% for post in site.categories[page.category] %}
                <li>
                        <figure>
                                <img src="thumb/{{ post.photo }}" alt="img"/>
                                <figcaption>
                                        <h3>{{ post.title}}</h3>
                                        <p>{{ post.excerpt }}</p>
                                </figcaption>
                        </figure>
                </li>
                {% endfor %}
        </ul>
        </section><!-- // grid-wrap -->

        <section class="slideshow">
        <ul>
                {% for post in site.categories[page.category] %}
                <li>
                        <figure>
                                <img src="large/{{ post.photo }}" alt="img"/>
                                <figcaption>
					<h3>{{ post.title}}</h3>
					<p>{{ post.content }}</p>
				</figcaption>
                        </figure>
                </li>
                {% endfor %}
        </ul>
        <nav>
                <span class="icon nav-prev"></span>
                <span class="icon nav-next"></span>
                <span class="icon nav-close"></span>
        </nav>
        <div class="info-keys icon">Navigate with arrow keys</div>
        </section><!-- // slideshow -->

        </div><!-- // grid-gallery -->
</div>

    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpGridGallery.js"></script>
    <script>
      new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
    </script>
  </body>
</html>
